{% extends 'base.html.twig' %}

{% block title %}Hello MarquePageController!{% endblock %}
{% block stylesheets %}
<link href="{{asset("css/index.css")}}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<style>


</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Dev/2024/DevBack/Symfony/avengers_henaff-cyan/src/Controller/MarquePageController.php</code></li>
        <li>Your template at <code>C:/Dev/2024/DevBack/Symfony/avengers_henaff-cyan/templates/marque_page/index.html.twig</code></li>
    </ul>
    <h2>Liste complète des marquespages</h2>
    <table>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">URL</th>
                <th scope="col">Date</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Mots-clés</th>
            </tr>
        </thead>
        <tbody>
            {% for page in marques_pages %}
                <tr>
                    <td>{{page.id}}</td>
                    <td><a href="{{ path('marque_page_detail', { 'id': page.id }) }}">{{page.url}}</a></td>
                    <td>{{page.dateCreation|date("d/m/Y")}}</td>
                    <td>{{page.commentaire}}</td>
                    <td>
                        {% for mc in page.motsCles %}
                            {{mc.motsCles}}
                        {% endfor %}
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
